<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @salad.name %></h1>
      <ul class="list-unstyled">
        <% @salad.quantities.each do |quantity| %>
          <li><%= link_to quantity.ingredient.name, ingredient_path(quantity.ingredient) %> : <%= quantity.description %> <%= link_to "<i class='fa fa-close'></i>".html_safe, quantity_path(quantity), method: :delete, data: { confirm: "Êtes-vous sûr ?" } %></li>
        <% end %>
      </ul>
      <br>

      <%= simple_form_for([@salad, @quantity]) do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient_id, collection: @ingredients %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>

      <p><%= link_to "Retour à l'accueil", salads_path %></p>
    </div>
  </div>
</div>
